<!--Waveform View-->
    <div id="dataOutput">                
        <select id="genre1">
            <option selected>Rock</option>
            <option>Pop</option>
            <option>Alternative</option>
        </select>
        <div class="datum"><h2>Songs:</h2><text id="numSongs1"></text></div>
        <div class="datum"><h2>Avg Duration:</h2><text id="averageDur1"></text></div>
        <div class="datum"><h2>Avg Loudness:</h2><text id="averageLoud1"></text></div>
        <div class="datum"><h2>Avg Tempo:</h2><text id="averageTempo1"></text></div>
        <div class="datum"><h2>Avg Hotness:</h2><text id="averageHotness1"></text></div>
        <select id="genre2">
            <option>Rock</option>
            <option selected>Pop</option>
            <option>Alternative</option>
        </select>
        <div class="datum"><h2>Songs:</h2><text id="numSongs2"></text></div>
        <div class="datum"><h2>Avg Duration:</h2><text id="averageDur2"></text></div>
        <div class="datum"><h2>Avg Loudness:</h2><text id="averageLoud2"></text></div>
        <div class="datum"><h2>Avg Tempo:</h2><text id="averageTempo2"></text></div>
        <div class="datum"><h2>Avg Hotness:</h2><text id="averageHotness2"></text></div>
    </div>
    
    <script>
        
        
    
    </script>
    <script src="js/genreSelector.js"></script>
    <script src="js/metaController.js"></script>
    
</div>